*{
    margin:0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(255, 0, 140);
    height: 15vh;
}

nav {
    padding: 1.5em;
}

nav ul li {
    list-style: none;
    display: inline-block;
    color: aliceblue;
    font-weight: bolder;
    float: right;
    padding: 1.5em;
}

.container {
    background-color: rgb(220, 185, 253);
    padding: 1.5em;
    height: 80vh;
}

.container h1 {
    text-transform: uppercase;
    padding: 1em;
    color: blueviolet;
    border-bottom: 3px solid crimson;
}

.container h3 {
    padding: 1em;
    background-color: rgb(168, 130, 240);
    width: 50vw;
}

.container p {
    text-align: justify;
    /* Interlineado espacio entre lineas */
    line-height: 2em;
}

.container_image {
    text-align: center;
}

.container_image img {
    height: 40vh;
    width: 80vw;
}

@media screen and (max-width: 1025px) {
    .container_image {
        background-image: url('../img/pop_art_movil.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .container_image img {
        visibility: hidden;
        padding: auto;
    }
    
    .container {
        background-color: rgb(220, 185, 253);
        padding: 1.5em;
        height: 100vh;
    }
}

/* @media (min-width: 700px) and (orientation: landscape)  {
    .container_image {
        background-image: url('../img/pop_art_movil.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .container_image img {
        visibility: hidden;
        padding: auto;
    }
    
    .container {
        background-color: rgb(220, 185, 253);
        padding: 1.5em;
        height: 100vh;
    }
} */

p::first-line {
    color: orange;
    text-decoration: underline;
  }

  p::selection {
    background: #21acde;
    color: white;
  }



