*{
    margin: 0;
    padding:0;
}

.menu{
    background-color: rgb(175, 80, 12);
    padding: 2em;
}

.menu > ul > li > a {
    text-decoration: none;
    color:rgb(233, 221, 221);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem; 
}



ul > li {
    display: inline;
    float: right;
}