section.seccion{
    background-color: aquamarine;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

section.seccion h1{
    text-transform: uppercase;
    font-size: 2rem;
}

section.seccion p.parrafo {
    font-size: 1rem;
    text-align: center;
}