*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container-box{
  display: flex;
  background-color: blueviolet;
  padding: 1em;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-box .box {
  background-color: rgb(223, 35, 129);
  color:beige;
  margin: 1em;
  padding: 1em;
}


/* Centra las cajas/items (hijos) en el centro del contenedor */
.align-items {
  background-color: rgb(2, 151, 102);
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}


/* Centra el contenido de cada caja/item */
.align-items .item {
  border: 2px solid black;
  padding: 1.5em;
  background-color: rgb(158, 0, 0);
  color: white;
  height: 10vh;
  margin: 0.5em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}


footer ul {
  height: 40vh;
  background-color: rgb(1, 255, 166);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul li {
  list-style: none;
  padding: 0.5em; 
}

footer ul li a {
  color:rgb(19, 43, 1);
  text-decoration: none;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer ul li a img {
  width: 25px;
  padding-right: 0.5em;
}